.clientNotesSection {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.clientNoteCard {
    background: var(--background-light);
    padding-inline: 16px;
    padding-block: 8px;
    border-radius: 10px;
    width: 50%;
    height: fit-content;
}

.clientNoteCard p {
    width: 100%;
    text-wrap: wrap;
}