.sign-in-page {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-in-form {
    width: 30%;
    height: fit-content;
    background-color: var(--background);
    border-radius: 16px;
    box-shadow: 0 6px 12px hsla(0, 0%, 20%, 30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 64px
}

.sign-in-form input {
    width: 100%;
}

.validateButton {
    width: 20%;
    background: var(--primary);
    color: hsl(0, 0%, 100%);
    border: 0;
}