.page {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.page input {
    width: 25%;
}

.page select {
    text-transform: lowercase;
}

.page select:first-letter {
    text-transform: uppercase;
}
