.page {
    width: 100%;
    background: var(--background);
    padding: 20px;
    border-radius: 10px;
}

.gridForm {
    width: 100%;
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
}

.titleRow {
    grid-column: span 2;
}

.valideFormButton {
    width: fit-content;
    background: var(--primary);
    border-color: hsl(200, 80%, 50%);
}

.inputsLine {
    display: flex;
    align-items: center;
    gap: 12px;
}

.dropFileBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50%;
    padding: 10px;
    border: 2px dashed #cccccc;
    border-radius: 12px;
    color: slategray;
    cursor: pointer;
}

.dropFileBox input {
    display: none;
}

.dropFileBox label {
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .gridForm {
        grid-template-columns: 1fr;
    }

    .titleRow {
        grid-column: span 1;
    }
}
