.page {
    width: 100%;
    background: var(--background);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.page input {
    width: 20%;
}

.page label {
    margin-top: 10px;
}

.page select {
    text-transform: lowercase;
}

.page select:first-letter {
    text-transform: uppercase;
}
