.calendar {
    width: 80%;
    height: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(7, 13%);
    grid-template-rows: auto;
    gap: 24px 24px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
}

.calendar > * {
    padding: 10px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.calendar > *:nth-child(7n) {
    border-right: none;
}