.clientCard {
    width: 100%;
    border: 2px solid hsla(0, 0%, 70%, 50%);
    border-radius: 12px;
    background: var(--background);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 12px;
}

.cardHeader {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 0;
}

.clientInformation {
    max-width: 50%;
}

.mainInformation {
    flex: 1;
    min-width: 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    overflow: hidden;
}

.mainInformation h3,
.mainInformation label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}

.buttonsDiv {
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.clientJob {
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

@media screen and (max-width: 500px) {
    .clientCard {
        width: 100%;
        max-width: 100%;
    }
}

@media screen and (max-width: 1200px) {
    .buttonsDiv {
        flex-direction: column;
    }

    .cardHeader {
        flex-direction: column;
    }

    .mainInformation {
        width: 100%;
        flex-direction: column;
    }

    .clientInformation {
        max-width: 100%;
    }
}
