.page {
    width: 100%;
    padding: 16px;
    background: var(--background);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pageHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.infos {
    width: 100%;
    display: flex;
    gap: 16px;
}

.contactInformation {
    width: 100%;
    height: 100%;
    background: var(--background-light);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-inline: 16px;
    padding-block: 10px;
    border-radius: 8px;
}

.contactInformation h3 {
    margin-bottom: 10px;
}

.contactLine {
    display: flex;
    gap: 5px;
    align-items: center;
}

.deleteButton {
    background-color: #00000000;
    transition: 1.5s;
}

.deleteButton:hover {
    border-color: hsl(0, 50%, 60%);
    color: hsl(0, 50%, 60%);
}

.editButton {
    background-color: #00000000;
    transition: 1.5s;
}

.editButton:hover {
    border-color: hsl(116, 50%, 60%);
    color: hsl(116, 50%, 60%);
}

@media screen and (max-width: 500px) {
    .infos {
        flex-direction: column;
    }
}