.projectDetailsPage {
    position: relative;
    width: 80%;
    background: var(--background);
}

.backButtonContainer {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 10;
    opacity: 30%;
    transition: 1s;
}

.backButtonContainer:hover {
    opacity: 100%;
}

.projectCover {
    width: 100%;
    height: 25%;
    border-radius: 10px;
}

.deadline {
    display: flex;
    gap: 4px;
    align-items: center;
}

.pageBody {
    padding: 20px;
}

.projectInformation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.projectDetails {
    width: 100%;
    padding: 20px;
    background: var(--background-light);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.earnedMoneyLine {
    display: flex;
    align-items: center;
    gap: 8px;
}

.projectRelationInformation {
    width: 100%;
    border-radius: 10px;
    display: flex;
    gap: 20px;
}

.projectRelationPart {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    background: var(--background-light);
}

.contactLine {
    display: flex;
    gap: 5px;
    align-items: center;
}