.comingSoonMeetingsWidget {
    grid-column: span 2;
    padding: 16px;
    border-radius: 10px;
    background: var(--background);
    box-shadow: 0 3px 13px hsla(0, 0%, 0%, 25%);
}

.comingSoonMeetingsDiv {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    gap: 16px;
}

@media screen and (max-width: 500px) {
    .comingSoonMeetingsWidget {
        grid-column: span 4;
    }
}
