.avatar {
    background: hsl(0, 0%, 80%);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 0;
    font-size: 1.2rem;
}