.homeSideBar {
    background: var(--background);
    border-radius: 8px;
    width: 20vw;
    height: 100%;
    padding-inline: 20px;
    padding-block: 10px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.homeSideBar>nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-block: 20px;
    gap: 32px;
}

.logo {
    display: flex;
    height: fit-content;
    place-content: center;
}

.logo img {
    width: 100px;
}

.logo img:hover {
    cursor: pointer;
}

.buttonsSection {
    width: 100%;
    display: grid;
    align-items: center;
    gap: 16px;
    padding-block: 10px;
}

.logoutButton {
    width: 100%;
    border: 0;
    background: hsla(0, 0%, 50%, 50%);
    transition: 1.5s;
}

.logoutButton:hover {
    background-color: hsl(0, 50%, 50%);
}

@media screen and (max-width: 500px) {
    .homeSideBar {
        display: none;
    }
}
