.meetingCard {
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.meetingDescription {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.meetingDurationLine {
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
}