.meetingCard {
    width: 20%;
    height: 15%;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: lightgray;
}

.meetingDescription {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.meetingDurationLine {
    width: 100%;
    display: flex;
    gap: 5px;
    align-items: center;
}