.meetingReduceCard {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.meetingReduceCard label {
    display: block;
    text-align: center;
}

.meetingBlock {
    width: 100%;
    height: 100%;
    background: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding-block: 12px;
}

.meetingBlock p {
    width: 100px;
    height: 35px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.noMeetingBlock {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: dashed hsl(0, 0%, 20%);
    padding-block: 12px;
}

.noMeetingBlock p {
    text-align: center;
    color: var(--main-text);
    opacity: 50%;
    font-size: 12px;
}