.homePage{
    padding: 16px;
    display: flex;
    gap: 24px;
    width: 100%;
    height: 95vh;
}

.homePageSection {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.homePageSectionRow {
    width: 100%;
    display: flex;
    gap: 48px;
}

