.chip {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding-inline: 12px;
    padding-block: 4px;
    border-radius: 12px;
    min-width: fit-content;
    height: fit-content;
    font-weight: 600;
    background: color-mix(in srgb, var(--chip-color) 20%, white);
    border: 2px solid var(--chip-color);
}

.chip p {
    font-size: 14px;
    color: var(--chip-color);
}
