.pageSection {
    width: 80%;
    height: 100%;
    padding: 24px 24px 0;
}

.pageHeader {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.pageHeader button {
    background: var(--secondary);
    border-width: 0;
}

.pageHeader button>a {
    color: white;
}

.projectList {
    width: 100%;
    max-height: 90%;
    overflow-y: auto;
    display: grid;
    gap: 20px;
    padding: 20px;
    border-radius: 12px;
    background: var(--background);
}

@media screen and (max-width: 500px) {
    .pageHeader {
        height: auto;
    }

    .pageSection {
        width: 100%;
        padding: 0;
    }

    .projectList {
        padding: 10px;
    }
}