@keyframes slideToLeft {
    0% {
        opacity: 0;
        margin-bottom: 150px;
    }
    100% {
        opacity: 100%;
    }
}

.toastsList {
    position: absolute;
    top: 8px;
    right: 16px;
    width: 25%;
    max-height: 30%;
    overflow-y: auto;
    display: grid;
    gap: 10px;
}

.toast {
    background-color: var(--background-light);
    padding: 16px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    animation-name: slideToLeft;
    animation-duration: 1.5s;
    animation-delay: 0s;
}

.closeButton {
    background-color: #00000000;
    border-width: 0;
    opacity: 50%;
    color: var(--main-text);
}

@media screen and (max-width: 500px) {
    .toastsList {
        top: 10px;
        right: 0;
        width: 100%;
        max-height: 25%;
        justify-items: center;
    }

    .toast {
        width: 90%;
    }
}