.sign-up-page {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-up-form {
    width: 30%;
    height: fit-content;
    background: var(--background);
    border-radius: 12px;
    box-shadow: 0 6px 12px hsl(0, 0%, 20%, 30%);
    padding: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.sign-up-form input, select {
    width: 75%;
}

input[type=date] {
    color: #000;
}

.validateButton {
    width: 20%;
    background: var(--primary);
    color: hsl(0, 0%, 100%);
    border: 0;
}