.clientsPage {
    width: 80%;
    padding: 0 24px;
}

.topPage {
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.addButton {
    border-width: 0;
}

.addButton a {
    color: white;
}

.clientsList {
    width: 100%;
    max-height: 90%;
    background: var(--background);
    overflow-y: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    .clientsPage {
        width: 100%;
        padding: 0;
    }

    .clientsList {
        grid-template-columns: repeat(1, 1fr);
    }
}