.clientsPage {
    width: 80%;
    padding: 24px;
}

.clientsList {
    width: 100%;
    height: 100%;
    background: var(--background);
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 48px 32px;
    padding: 20px;
    border-radius: 10px;
}