.clientCard {
    width: 30%;
    min-height: 20%;
    border: 2px solid hsla(0, 0%, 70%, 50%);
    border-radius: 12px;
    background: var(--background);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 10px;
}

.clientCard hr {
    border-color: hsl(0, 0%, 90%);
}

.mainInformation {
    flex: 1;
    min-width: 0;
    display: flex;
    flex-direction: column;
}

.mainInformation h3,
.mainInformation label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
}

.clientCardAvatar {
    background: hsl(0, 0%, 80%);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 0;
    font-size: 1.2rem;
}

.clientInformation {
    width: 100%;
}

.contactLine {
    width: 100%;
    display: flex;
    gap: 4px;
    align-items: center;
}

.buttonsDiv {
    display: flex;
    gap: 10px;
    align-items: center;
}