.meetingReduceCard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.meetingReduceCard label {
    display: block;
    width: 100%;
    text-align: center;
}

.meetingBlock {
    width: 100%;
    height: 100%;
    background: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}

.meetingBlock p {
    width: 85%;
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 12px;
}

.noMeetingBlock {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border: dashed hsl(0, 0%, 20%);
}

.noMeetingBlock p {
    width: 85%;
    text-align: center;
    color: hsla(0, 0%, 20%, 50%);
    font-size: 12px;
}