.projectCard {
    width: 90%;
    height: 20%;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--background-light);
    border: 2px solid hsla(0, 0%, 70%, 50%);
    transition: 1s;
}

.projectCard:hover {
    border-color: var(--primary);
    cursor: pointer;
}

.title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.dates {
    display: flex;
    gap: 4px;
    align-items: center;
}