.page {
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background);
}

.projectForm {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 32px;
}

.formHeader {
    grid-column: span 2;
}

.inputsColumn {
    display: grid;
    gap: 24px;
}

.inputsLine {
    display: flex;
    align-items: center;
    gap: 12px;
}

.valideFormButton {
    width: fit-content;
    background: var(--primary);
    border-color: hsl(200, 80%, 50%);
}
