.backButton {
    width: fit-content;
    background: var(--background-light);
    color: var(--main-text);
    border-width: 0;
    padding: 10px;
    box-shadow: 0 3px 8px hsla(0, 0%, 30%, 40%);
    transition: 1.5s;
}

.backButton:hover {
    transform: translateX(-5px);
}