name: CI_CD

on:
  pull_request:
    branches: 
      - main

jobs: 
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Récupération des fichiers du repo
        uses: actions/checkout@v4

      - name: Prépare NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Installation des dépendances
        run: npm install 

      - name: Vérifie que le build fonctionne
        run: npm run build
