.chip {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding-inline: 16px;
    border-radius: 12px;
    min-width: fit-content;
    font-weight: 500;
}

.chip p {
    font-size: 16px;
    color: white;
    text-transform: lowercase;
}

.chip p:first-letter {
    text-transform: uppercase;
}