.backButton {
    width: 100px;
    background-color: rgba(255, 255, 255, 0.702);
    padding: 16px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: #1c1c1c;
    font-size: 14px;
    font-weight: bold;

    border-width: 0;
    border-radius: 8px;

    transition: 1.5s;
}

.backButton:hover {
    background-color: rgb(255, 255, 255);
    transform: scale(1.01);
    cursor: pointer;
}